.app {
    text-align: center;
}

.app__header {
    background: #fdfbfb;
    background: -webkit-linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background: -moz-linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background: -o-linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background: -ms-linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background: -webkit-gradient(linear, 120deg, color-stop(0%, #fdfbfb), color-stop(100%, #ebedee));
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    height: 160px;
    padding: 20px;
}

.app__logo {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 0;
}

.app__icon {
    color: blue;
    display: block;
    fill: currentColor;
    height: 65px;
    width: auto;
}

.app__logotext {
    clear: both;
    color: #383838;
    font-family: "Roboto", sans-serif;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    padding-top: 15px;
    text-transform: capitalize;
}

.app__logotext--super {
    color: #5f5f5f;
    font-size: 0.25em;
    font-weight: 100;
    top: -2.2em;
}

.app__logotext--red {
    color: #E74C3C;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app__logocap {
    color: #7a7a7a;
    font-family: "Lato", sans-serif;
    padding-top: 2px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.card__options {
    float: right;
    height: 80px;
    width: 100%;
}

.card__input {
    border: 0;
    color: #383838;
    font-size: 1.25rem;
    height: 44px;
    margin-top: 7px;
    width: 95%;
}

.card__searchbutton {
    cursor: pointer;
    font-size: 40px;
    height: 60px;
    padding-top: 10px;
}

.card__input.active,
.card__input:focus {
    border: none;
    outline: none;
}

.card--gray {
    background-color: #bbbbbb;
}

.card--searchbar {
    border-radius: 2px;
    height: 60px;
    margin-top: -34px;
}

.card--buttoncolor {
    color: #383838;
}

.card--buttoncolor:hover {
    color: #808080;
}

::placeholder {
    color: #5f5f5f;
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #5f5f5f;
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
}

::-ms-input-placeholder {
    color: #5f5f5f;
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
}

/* Extracted Links/OR place holder */

.app__placehold {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 15px;
}

.card--uploadbox {
    background: -webkit-linear-gradient(160deg, #fdfbfb 0%, #ebedee 100%);
    background: -moz-linear-gradient(160deg, #fdfbfb 0%, #ebedee 100%);
    background: -o-linear-gradient(160deg, #fdfbfb 0%, #ebedee 100%);
    background: -ms-linear-gradient(160deg, #fdfbfb 0%, #ebedee 100%);
    background: -webkit-gradient(linear, 160deg, color-stop(0%, #fdfbfb), color-stop(100%, #ebedee));
    background-image: linear-gradient(160deg, #fdfbfb 0%, #ebedee 100%);
    cursor: pointer;
    min-height: 150px;
}

.uploadbox {
    background-color: transparent;
    border: 2px dashed darkgrey;
    height: 160px;
    margin: 7px;
    text-align: center;
    width: 98%;
}

.uploadbox--image {
    margin-top: 10px;
    width: 80px;
}

.pdfbox {
    height: auto;
    margin: auto;
    padding-top: 10px;
    width: 80px;
}

.uploadbox--title {
    font-weight: bold;
}

.uploadbox--text {
    color: #7a7a7a;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    margin-top: -10px;
}

.card__loading {
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.card__spinner {
    animation: spin 0.5s infinite;
    animation-delay: 0s;
    font-size: 40px;
    height: 60px;
    padding-top: 10px;
}

.card__statusspinner {
    animation: spin 0.5s infinite;
    animation-delay: 0s;
    font-size: 60px;
    height: 60px;
    padding-top: 0;
}

.card__statusloading {
    align-items: center;
    background: #ffffff;
    display: flex;
    justify-content: center;
    min-height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 10000;
}

.btn--basic {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    margin: 10px;
    margin-top: 20px;
}

.btn--basic:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.btn--upload {
    background: #e52d27;
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
    background: -moz-linear-gradient(to right, #b31217 0%, #e52d27 100%);
    background: -o-linear-gradient(to right, #b31217 0%, #e52d27 100%);
    background: -ms-linear-gradient(to right, #b31217 0%, #e52d27 100%);
    background: -webkit-gradient(linear, to right, color-stop(0%, #b31217), color-stop(100%, #e52d27));
    background: linear-gradient(to right, #b31217, #e74c3c);
}

.btn--upload:hover {
    background: #e52d27;
    background: -webkit-linear-gradient(120deg, #b31217, #e52d27);
    background: -moz-linear-gradient(120deg, #b31217 0%, #e52d27 100%);
    background: -o-linear-gradient(120deg, #b31217 0%, #e52d27 100%);
    background: -ms-linear-gradient(120deg, #b31217 0%, #e52d27 100%);
    background: -webkit-gradient(linear, 120deg, color-stop(0%, #b31217), color-stop(100%, #e52d27));
    background: linear-gradient(120deg, #b31217, #e74c3c);
}

.btn--check {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: -moz-linear-gradient(to right, #FFFFFF 0%, #ECE9E6 100%);
    background: -o-linear-gradient(to right, #FFFFFF 0%, #ECE9E6 100%);
    background: -ms-linear-gradient(to right, #FFFFFF 0%, #ECE9E6 100%);
    background: -webkit-gradient(linear, to right, color-stop(0%, #FFFFFF), color-stop(100%, #ECE9E6));
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.btn--check:hover {
    background: #ECE9E6;
    background: -webkit-linear-gradient(120deg, #FFFFFF, #ECE9E6);
    background: -moz-linear-gradient(120deg, #FFFFFF 0%, #ECE9E6 100%);
    background: -o-linear-gradient(120deg, #FFFFFF 0%, #ECE9E6 100%);
    background: -ms-linear-gradient(120deg, #FFFFFF 0%, #ECE9E6 100%);
    background: -webkit-gradient(linear, 120deg, color-stop(0%, #FFFFFF), color-stop(100%, #ECE9E6));
    background: linear-gradient(120deg, #FFFFFF, #ECE9E6);
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* Table links status icons */

.icon--alive {
    color: #96e6a1;
}

.icon--dead {
    border-bottom: 1px dotted #ccc;
    color: #e74c3c;
    cursor: pointer;
}

.icon--dead:hover {
    color: #db796e;
}

.icon--info {
    border-bottom: 1px dotted #ccc;
    color: #5D9FFF;
    cursor: pointer;
}

.icon--info:hover {
    color: rgb(141, 185, 250);
}

.icon--notf {
    border-bottom: 1px dotted #ccc;
    color: #fddc41;
    cursor: pointer;
}

.icon--notf:hover {
    color: #ffeb92;
}

.statusIcons {
    display: inline-block;
    position: relative;
}

.statusIcons .tooltiptext {
    background-color: #555;
    border-radius: 6px;
    color: #fff;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 120px;
    z-index: 1;
}

.tooltiptext--error {
    width: 160px !important;
}

.statusIcons .tooltiptext::after {
    border-color: transparent transparent transparent #555;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 100%;
    margin-top: -5px;
    position: absolute;
    top: 50%;
}

.statusIcons:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.tooltip-left {
    bottom: auto;
    right: 128%;
    top: -5px;
}

/*Modifier Classes - Included non BEM methods*/

.material-icons--size16 {
    font-size: 16px;
}

.table--font {
    font-family: "Lato", sans-serif;
}

.thead--shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.td--links {
    text-align: left;
}

.th--noborder {
    border: none;
}

.td--link {
    margin-left: 2px;
}

.td--link:hover {
    text-decoration: none;
}

.table td,
.table th {
    border-bottom: 1px solid #dee2e6;
    border-top: 0;
    max-width: 190px;
}

.pagination {
    align-items: center;
    justify-content: center;
}

.page-link {
    border: 0;
}

.page-link--prev {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-link--next {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px
}

.page-item {
    border: 0;
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.page-item.active {
    border-radius: 2px;
}

.page-item.active .page-link {
    background-color: #e74c3c;
}

.page-link.active {
    border-radius: 2px;
}

.page-link:hover {
    background-color: #e74c3c;
    border-radius: 2px;
    color: #ffffff;
}

.page-link:focus {
    outline: hidden;
}

.table-responsive-lg {
    min-height: 500px;
}

/* Custom view for mobile */

@media (max-width: 433px) {
    .uploadbox {
        width: 95%;
    }
    .card__searchbutton {
        font-size: 35px;
        margin-left: -15px;
        padding-top: 13px;
    }
    ::placeholder {
        font-size: 16px;
    }
    .card__input {
        font-size: 16px;
    }
}

/* Animations */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}